.grid-container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr .25fr;
    grid-template-areas: 
    "header header header"
    "row1 row1 row1"
    "row2 row2 row2"
    "row3 row3 row3"
    "footer footer footer"
    ;
}

.header {
    grid-area: header;
    grid-area: header;
    background-color: white;
    color: #76575D;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.image-container1 {
    grid-area: row1; 
    display: flex;
    flex-direction: row;
}

.image-container2 {
    grid-area: row2; 
    display: flex;
    flex-direction: row;
}

.image-container3 {
    grid-area: row3; 
    display: flex;
    flex-direction: row;
}

footer {
    grid-area: footer;
    background-color: #AFAC9B;
    text-align: center;
    padding-bottom: 10px;
}

.column {
    flex: 33.33%;
    padding: 10px;
    text-align: center;
}

.border {
    border: 2px solid black;
}

body {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
  }
  
  nav {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      font-size: 20px;
      font-weight: bolder;
      margin-bottom: 10px;
      letter-spacing: 3px;
    }
  
  .logo {
      grid-area: logo; 
      align-self: center;
      margin-bottom: 10px;
  }
  
  .logo img{
  width: 65%;
  }

.links {
    text-align: center;
}

a {
    color: #76575D;
    text-decoration: none;
}

a:hover {
   color: #6D9891;
  }