.grid-container {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: .5fr 2fr .25fr;
    grid-template-areas: 
    "header header header"
    "img-f img-f img-f"
    "footer footer footer"
    ;
}

.header {
    grid-area: header;
    background-color: white;
    color: #76575D;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

.image-container {
    position: relative;
    grid-area: img-f;
    display: flex;
    flex: wrap;
}

footer {
    grid-area: footer;
    background-color: #AFAC9B;
    text-align: center;
    padding-bottom: 10px;
}

#image {
    width: 100%;
    border: 1px solid black;
    padding: 4px auto;
  }

.image-container {
  width: 90%;
  margin: auto; 
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.container {
    width: 30%;
    margin: 5px;
  }

.border {
    border: 2px solid black;
}

body {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
  }
  
  nav {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      font-size: 20px;
      font-weight: bolder;
      margin-bottom: 10px;
      letter-spacing: 3px;
    }
  
  .logo {
      grid-area: logo; 
      align-self: center;
      margin-bottom: 10px;
  }
  
  .logo img{
  width: 65%;
  }

.links {
    text-align: center;
}

a {
    color: #76575D;
    text-decoration: none;
}

a:hover {
   color: #6D9891;
  }

  @media (max-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: .5fr 2fr 2fr .25fr;
        grid-template-areas: 
        "header"
        "img-f"
        "img-f"
        "footer"
        ;
    }

    .container {
        flex: 50%;
        max-width: 45%;
        justify-content: space-between;
      }
    .logo img{
     width: 80%;
     }

    }

  @media (max-width: 600px) {
    .grid-container {
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: .5fr 6fr .25fr;
        grid-template-areas: 
        "header"
        "img-f"
        "footer"
        ;
    }

    .container {
        flex: 100%;
        max-width: 100%;
        justify-content: space-between;
      }
   
    .logo img{
     width: 100%;
     }
}