.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr .5fr; 
    grid-template-areas: 
    "header header header"
    "contact contact contact"
    "footer footer footer"
}


body {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
  }
  
  nav {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      font-size: 20px;
      font-weight: bolder;
      margin-bottom: 10px;
      letter-spacing: 3px;
    }

.logo {
    grid-area: logo; 
    align-self: center;
    margin-bottom: 10px;
}

.logo img{
width: 65%;
}

.links {
  grid-area: links;
  text-align: center;
}

a {
  color: #76575D;
  text-decoration: none;
}

a:hover {
  color: #6D9891;
 }

.header {
    grid-area: header;
    background-color: white;
    color: #76575D;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-form {
    grid-area: contact;
    background-color: hotpink;
}

footer {
    grid-area: footer;
    background-color: orange; 
}

body {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
  }
  
  nav {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      font-size: 20px;
      font-weight: bolder;
      margin-bottom: 10px;
      letter-spacing: 3px;
    }
  
    