.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: .5fr 1fr 1fr 1fr .25fr;
    grid-template-areas:
    "header header"
    "blog1 blog1"
    "blog2 blog2"
    "blog3 blog3"
    "footer footer"
    ;
}

.header {
    grid-area: header;
    color: #76575D;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
}

.blog1 {
    grid-area: blog1;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-top: 30px;

}

.blog2 {
    grid-area: blog2;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.blog3 {
    grid-area: blog3;
    display: flex;
    justify-content: center;
}

footer {
    grid-area: footer;
    background-color: #AFAC9B;
    text-align: center;
    padding-bottom: 10px;
}

body {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
  }
  
nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
    letter-spacing: 3px;
    }
  
.logo {
    align-self: center;
    margin-bottom: 10px;
  }
  
.logo img{
  width: 65%;
  border: none;
  }
  
ul {
    list-style: none;
    margin-top: 5%;
  }
  
  .links {
      grid-area: links;
      text-align: center;
  }
  
  a {
      color: #76575D;
      text-decoration: none;
  }
  
  a:hover {
     color: #6D9891;
    }

 img {
    border: 2px solid black;
    }

.bloginfo {
    border: 2px solid black;
    max-width: 500px;
    height: 300px;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
    margin-right: 5px;
}

button {
    background-color: #6D9891;
    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: white;
    }

h3 {
    font-size: 30px; 
    font-weight: bolder;
}

.float {
    width: 400px;
    height: 300px; 
}

@media (max-width: 900px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: .5fr 1fr 1fr 1fr .25fr;
        grid-template-areas: 
        "header header"
        "blog1 blog1"
        "blog2 blog2"
        "blog3 blog3"
        "footer footer";
    }
}

   @media (max-width: 600px) {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr ;
      grid-template-rows: .5fr 1fr 1fr 1fr .25fr;
      grid-template-areas: 
      "header"
      "blog1"
      "blog2"
      "blog3"
      "footer";
  }

    .float {
        display: none;
    }

    .logo img{
      width: 100%;
      }

    nav {
      margin-bottom: 2px;
    }

    h3 {
        color: #76575D
    }
}