.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1r 2fr .5fr;
    grid-template-areas: 
    "header header header"
    "image image image"
    "about about about"
    "footer footer footer"
    ;
}

body {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
  }
  
  nav {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      font-size: 20px;
      font-weight: bolder;
      margin-bottom: 10px;
      letter-spacing: 3px;
    }
  
  .logo {
      align-self: center;
      margin-bottom: 10px;
  }
  
  .logo img{
    width: 65%;
  }
  
  .responsive {
    width: 80%;
    height: auto;
  }

  ul {
      list-style: none;
      margin-top: 5%;
  }
  
  .links {
      grid-area: links;
      text-align: center;
  }
  
  a {
      color: #76575D;
      text-decoration: none;
  }
  
  a:hover {
     color: #6D9891;
    }
  
.header {
    grid-area: header;
    color: #76575D;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
}

.image {
    grid-area: image;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    color: white;
    margin-top: 20px;
}

.about {
    grid-area: about;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 20px;
}

footer {
    grid-area: footer;
    background-color: #AFAC9B;
    text-align: center;
    padding-bottom: 10px;
}

.centered {
    font-size: 40px;
    color: white; 
    font-weight: bolder;
    letter-spacing: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @media (max-width: 900px) {

 .centered {
     font-size: 30px;
     letter-spacing: 10px;
 }
  }


   @media (max-width: 600px) {
  
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1r 2fr .5fr;
        grid-template-areas: 
        "header"
        "image"
        "about"
        "footer"
        ;
    }

    .centered {
        font-size: 20px;
        letter-spacing: 10px;
    }
   
  }
